<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <a href="#main-section" class="skip-link">Skip to Content</a>
    <nav-bar></nav-bar>
    <div class="hero">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./images/heros/hero-image_2.jpg"
        />
        <img src="./images/heros/hero-image_2.jpg" alt="Hero Image" />
      </picture>
      <div class="hero-content">
        <h1>Welcome to VINA Restaurant Apps</h1>
        <p>Discover extraordinary culinary experiences</p>
      </div>
    </div>
    <main id="main-section" class="container">
      <restaurant-list></restaurant-list>
    </main>
  </body>
  <footer-bar></footer-bar>
</html>
